<div class="form-froup row">
    <label for="" class="col-sm-4 col-form-label text-sm-right">Nombre del equipo</label>
    <div class="col-sm-6">
        <input type="text" #myinput class="form-control" [(ngModel)]="DepartmentName" />
    </div>
</div>
<div class="row p-4">
    <button (click)="addDepartment()" *ngIf="dep.DepartmentId == 0" class="btn btn-primary" style="margin: 0 auto; max-width: 150px">
        Agregar
    </button>
    
    <button (click)="updateDepartment()" *ngIf="dep.DepartmentId != 0" class="btn btn-primary" style="margin: 0 auto; max-width: 150px">
        Actualizar
    </button>
</div>

