<div class="d-flex align-items-start flex-row bd-highlight mb-3">

    <div class="form-froup col-sm-7 row">
        <label for="" class="col-sm-5 col-form-label text-sm-right pr-0">Nombre del piloto</label>
        <div class="col-sm-7 mb-2">
            <input #myinput type="text" class="form-control" [(ngModel)]="EmployeeName"
            placeholder="Agregar nombre de piloto"
            />
        </div>
        <label for="" class="col-sm-5 col-form-label text-sm-right pr-0">Constructor</label>
        <div class="col-sm-7 mb-2">
            <select class="form-select" *ngIf="showSelect" [(ngModel)]="Department">
                <option>-- Seleccionar equipo --</option>
                <option *ngFor="let depName of DepartmentsList">
                    {{ depName.DepartmentName }}
                </option>
            </select>
        </div>

        <label for="" class="col-sm-5 col-form-label text-sm-right pr-0">Fecha de ingreso</label>
        <div class="col-sm-7">
            <input type="date" class="form-control" [(ngModel)]="DateOfJoining" />
        </div>
    </div>
    <div class="bd-highlight col-sm-5">
        <img [src]="PhotoFilePath" style="width: 100%; max-width: 500px" alt="">
        <input type="file" (change)="uploadPhoto($event)" class="mt-2" style="max-width: 105px" />
    </div>

</div>

<div class="row p-4">
    <button (click)="addDEmployee()" *ngIf="emp.EmployeeId == 0" class="btn btn-primary" style="margin: 0 auto; max-width: 150px">
        Agregar
    </button>
    
    <button (click)="updateEmployee()" *ngIf="emp.EmployeeId != 0" class="btn btn-primary" style="margin: 0 auto; max-width: 150px">
        Actualizar
    </button>
</div>

