<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-froup row">
    <label for="" class="col-sm-4 col-form-label text-sm-right">Nombre del piloto</label>
    <div class="col-sm-8">
        <input #myinput type="text" class="form-control" [(ngModel)]="EmployeeName"
        placeholder="Agregar nombre de piloto"
        />
    </div>
    <label for="" class="col-sm-4 col-form-label text-sm-right">Constructor</label>
    <div class="col-sm-8">
        <select class="form-select" [(ngModel)]="Department">
            <option>--Select--</option>
            <option *ngFor="let depName of DepartmentsList">
                {{ depName.DepartmentName }}
            </option>
        </select>
    </div>

    <label for="" class="col-sm-4 col-form-label text-sm-right">Fecha de ingreso</label>
    <div class="col-sm-8">
        <input type="date" class="form-control" [(ngModel)]="DateOfJoining" />
    </div>
</div>
<div class="ml-3 bd-highlight" style="width: 40%">
    <img [src]="PhotoFilePath" width="200px" height="250px" alt="">
    <input type="file" (change)="uploadPhoto($event)" class="mt-2" />
</div>

</div>

<div class="row p-4">
    <button (click)="addDEmployee()" *ngIf="emp.EmployeeId == 0" class="btn btn-primary" style="margin: 0 auto; max-width: 150px">
        Agregar
    </button>
    
    <button (click)="updateEmployee()" *ngIf="emp.EmployeeId != 0" class="btn btn-primary" style="margin: 0 auto; max-width: 150px">
        Actualizar
    </button>
</div>

